{% extends "inherit.html" %}

{% block title %}Sing Up Screen {% endblock %}


{% block body  %}
{% from "includes/formhelpers.html" import render_field %}
<h1 style="light grey;">  Register Now</h1><hr>
<form method="POST" >
    <ul class="form-control rounded">
     {{ render_field(form1.name) }}
    {{ render_field(form1.username) }}
    {{ render_field(form1.password) }}
    {{ render_field(form1.confirm) }}
    {{ render_field(form1.email) }}
    </ul>
   
    <button type="submit" class="btn btn-danger">Submit</button>
</form>



{% endblock %}





























































































